@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  height: 15vh;
  /* background-color: white; */
}

.nav {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* .content {
  height: 70vh;
  display: flex;
  justify-content: start;
  align-items: end;
  background-color: gray;
} */

.intro {
  margin: 5vh;
  font-size: x-large;
  height: 10vh;
  width: 50vw;
  justify-content: center;
}

.footer {
  height: 15vh;
}

.char {
  /* transform: translateY(115px); */
  transition: transform 0.5s;
}
