@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  height: 16vh;
  /* background-color: white; */
}

.nav {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.intro {
  margin: 5vh;
  font-size: x-large;
  height: 10vh;
  width: 50vw;
  justify-content: center;
}

.footer {
  height: 10vh;
}

.char {
  /* transform: translateY(115px); */
  transition: transform 0.5s;
}
