@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  margin: 0;
  height: 100vh;
  background: linear-gradient(90deg, #000000, #211a2d);
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
